{{> formulario}}
<table class="table align-middle mb-0 bg-white container-sm">
  <thead class="bg-light">
    <tr>
      <th>Producto</th>
      <th>precio</th>
      <th>descripcion</th>
      <th>codigo</th>
      <th>stock</th>
    </tr>
  </thead>
  <tbody>
    {{#each articulos}}
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="{{this.url}}"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{this.producto}}</p>
            
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">{{this.precio}}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{this.descripcion}}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{this.codigo}}</p>
      </td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
         <a href="/api/productos/{{this.id}}">Edit</a>
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded" onclick="deleteById({{this.id}})">
         <a  href="/api/productos" >Remove</a>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
