
<div class="text-center">{{> modal}}</div>
<table class="table align-middle mb-0 bg-white container-sm">
  <thead class="bg-light">
    <tr>
      <th>id</th>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Clasificacion</th>
      <th>Codigo</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Fecha de Creacion</th>
      <th>Descripcion</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {{#each articulos}}
    <tr>
      <td>
        <p class="fw-normal mb-1">{{this.id}}</p>
      </td>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="{{this.url}}"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">            
          </div>
        </div>
      </td>
      <td>
        <p class="fw-bold mb-1">{{this.titulo}}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{this.clasificacion}}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{this.codigo}}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{this.precio}}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{this.stock}}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{this.timestamp}}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{this.descripcion}}</p>
      </td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
         <a href="/api/productos/{{this.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
        </button>
      </td>
      <td>
      <form action="/api/productos/delete" method="post">
          <input type="hidden" name="id" value="{{this.id}}">
        <button  type="submit" class="btn btn-link btn-sm btn-rounded" >
          <i class="fa-solid fa-trash"></i>
        </button>
      </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
